PORT=5000
MONGODB_URI=mongodb+srv://pranavreddygaddam:<your_actual_password>@moviematecluster.bnucgrl.mongodb.net/?retryWrites=true&w=majority&appName=MovieMateCluster
JWT_SECRET=your_jwt_secret_key_change_this_in_production
JWT_EXPIRE=30d
NODE_ENV=development
FRONTEND_URL=http://localhost:5173 